* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  text-align: center;
}

.App {
  display: inline-block;
  width: 950px;
}

.header {
  background-color: aqua;
  position: sticky;  
  top: 0;
  text-align: center;
  font-size: 28px
}

.PostList{
  margin-top: 300px;
}

.Spisok {
}
