.md1 {
  margin: auto;
  display: inline-block;
  width: 100px;
  vertical-align: middle;
}

.md2 {
  margin: auto;
  display: inline-block;
  width:150px;
}

.md3 {
  margin: auto;
  display: inline-block;
  width:150px;
}

.md4 {
  margin: auto;
  display: inline-block;
  width: 120px;
}

.md5 {
  margin: auto;
  display: inline-block;
  width: 180px;
}

#left {
  text-align: left;
}

#right {
  text-align: right;
}

#center {
  text-align: center;
}

.mydiv1 {
  margin: auto;
  display: block;
}