.header {
  background-color: aqua;
  width: 100%;
  margin: auto;
  text-align: center;
}

.md1 {
  margin: auto;
  display: inline-block;
  width: 60px;
  vertical-align: middle;
}

.md2 {
  margin: auto;
  display: inline-block;
  width: 120px;
}

.md3 {
  margin: auto;
  display: inline-block;
  width: 90px;
}

.md4 {
  margin: auto;
  display: inline-block;
  width: 70px;
}

.md5 {
  margin: auto;
  display: inline-block;
  width: 100px;
  background-color: brown;
}

#left {
  text-align: left;
}

#right {
  text-align: right;
}

#center {
  text-align: center;
}

.mydiv1 {
  margin: auto;
  display: block;
}