.post {
    display: flex;
    padding: 5px;
    border: 2px solid teal;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
}

.post__content {
    display: flex;
}

.post_elem {
    display: inline;
    margin: auto;
    font-size: 28px;
}

.num_zakaz {
    display: block;
    margin: auto;
    width: 60px;
}

.time_zakaz {
    display: block;
    margin: auto;
    width: 160px;
}

.date_zakaz {
    display: block;
    margin: auto;
    width: 160px;
}

.dist_zakaz {
    display: inline-block;
    margin: auto;
    width: 70px;
}


.vremy_zakaz {
    display: inline-block;
    margin: auto;
    width: 70px;
}

.ed_izm {
    display: inline-block;
    margin: auto;
    padding-left: 10px;
    width: 80px;
}

.perenos {
    display: block;
    margin: auto;
    width: 10px;
}

.summ_zakaz {
    display: block;
    margin: auto;
    width: 150px;
}

.comis_zakaz {
    display: block;
    margin: auto;
    width: 150px;
}

.form_zakaz {
    display: block;
    margin: auto;
    width: 140px;
}

.tarif_zakaz {
    display: block;
    margin: auto;
    width: 120px;
}

.avto_zakaz {
    display: block;
    margin: auto;
    width: 40px;
}

.zvez_zakaz {
    display: block;
    margin: auto;
    width: 40px;
}

#left {
    text-align: left;
}

#right {
    text-align: right;
}

#center {
    text-align: center;
}