.post {
    display: flex;
    padding: 5px;
    border: 2px solid teal;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
}

.post__content {
    display: flex;
}

.post_elem {
    display: inline;
    margin: auto;
    font-size: 30px;
}

.num_zakaz {
    display: block;
    margin: auto;
    width: 60px;
}

.time_zakaz {
    display: block;
    margin: auto;
    width: 180px;
}

.date_zakaz {
    display: block;
    margin: auto;
    width: 180px;
}

.dist_zakaz {
    display: inline-block;
    margin: auto;
    width: 100px;
}


.vremy_zakaz {
    display: inline-block;
    margin: auto;
    width: 100px;
}

.ed_izm {
    display: inline-block;
    margin: auto;
    width: 50px;
}

.perenos {
    display: block;
    margin: auto;
    width: 150px;
}

.summ_zakaz {
    display: block;
    margin: auto;
    width: 170px;
}

.comis_zakaz {
    display: block;
    margin: auto;
    width: 170px;
}

#left {
    text-align: left;
}

#right {
    text-align: right;
}

#center {
    text-align: center;
}