.post {
  display: flex;
  padding: 5px;
  border: 2px solid teal;
  margin: 5px;
  justify-content: space-between;
  align-items: center;
}

.post__content{
    display: flex;
}

.post_elem{
    display: block;
    margin: auto;
}

.num_zakaz{
    display: block;
    margin: auto;
    width: 35px;
    
}

.time_zakaz{
    display: block;
    margin: auto;
    width: 50px;
}

.date_zakaz{
    display: block;
    margin: auto;
    width: 85px;
}

.dist_zakaz{
    display: block;
    margin: auto;
    width: 75px;
}


.vremy_zakaz{
    display: block;
    margin: auto;
    width: 70px;
}

.summ_zakaz{
    display: block;
    margin: auto;
    width: 80px;
}

.comis_zakaz{
    display: block;
    margin: auto;
    width: 70px;
    background-color: brown;
}



#left{
    text-align: left;
}

#right{
    text-align: right;
}

#center{
    text-align: center;
}